/*for ie6*/
html, body { position: relative; height: 100%;}
body{
    width:100%;
    margin:0;
    padding:0;
    font-size: 12px;
    background: #f2f2f2;
    font-family: Microsoft YaHei, Helvetica, STHeiti STXihei, Microsoft JhengHei, Arial;
}
div,span,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,blockquote,th,td,frame,iframe,dt,dl,dd,ul,li,ol{
    margin:0;
    padding:0;
    border:0;
    text-align:left;
    font-weight:normal;
}
img{
    border:0px;
}
a{
    outline:none;
    text-decoration: none;
    
}
a:link,a:visited,a:active,a:hover{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
button{
    border: none;
}
input{
    margin:0;
    padding:0;
    border:0;
}
ul,li,dl,dd{
    list-style-type:none;
}
i,em{
    font-style:normal;
}
input,button,select,textarea{
    outline:none;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #999999;
}

::-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999999;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999999;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #999999;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:after{
    visibility:hidden;
    display: block;
    font-size: 0;
    content:"";
    clear: both;
}
/*q-header begin*/
.q-header{
    top:0;
    left: 0;
    right: 0;
    z-index:9;
    width: 100%;
}
.q-opcatiy{
    background:#fff;
}
.q-headertop{
    background: #f0f0f0;
    height: 36px;
    line-height: 36px;
    position: relative;
}
.q-toptp{
    padding-left: 20px;
}

.q-toptp span{
    margin-left: 20px;
    display: inline-block;
    color: #888888;
    font-size: 12px;
}
.q-wide{
    width: 1200px;
    margin: 0 auto;
}
.q-topvipment ul li{
    float: left;
    margin: 0 10px;
}
.q-topvipment ul li:last-child{
    margin-right: 0;
}
.q-topvipment ul li, .q-topvipment ul li a{
    color: #888;
}
.q-topvipment ul li a:hover{
    color: #059be9;
}
.officicon{
    background: url(../../image/qfbicon.png) no-repeat;
}
.tpiconer{
    position: absolute;
    width: 14px;
    height: 14px;
    top:11px;
    background-position: 0 0;
}
.q-nav{
    border-bottom: 1px solid #e5e5e5;

}
.q-navback {
    background: #fff;

}
.q-logo{
    padding: 0 0 0 20px;
}
.q-logobox{
    width: 330px;
    height: 49px;
}
.q-menue ul li{
    float: left;
    margin-top:25px;
    padding: 0 20px;
    display: block;
}
.q-menue ul li:last-child{
    padding-right: 0;
}
.q-menue ul li a{
    font-size: 18px;
    color: #333;
}
.q-menue ul li a:hover{
    color: #059be9;
}
.q-menue ul li.q-cueractive a{
    color: #059be9;
}
.q-menue{
    position: relative;
    height: 79px;
}
/*q-header end*/

/*footer begin*/
.footerbox{
    background: #fff;
    border-top:1px solid #e5e5e5;
    padding: 40px 0;
}
.footer-box ul li{
    float: left;
    width: 14%;
    line-height:24px;
}
.footer-box ul li dl{
    text-align:center;
}
.footer-box ul li dl dd{
    font-size: 16px;
    color: #333333;
    padding-bottom: 14px;
}
.footer-box ul li dl dt{
    font-size: 14px;
    color: #999999;
}
.footer-box ul li dl dt a:hover{
    color: #059be9;
}
.footer-box ul li dl dt a{
    color: #999;
}
.times-tit{
    display: block;
    text-align: right;
}
.statement{
    text-align: center;
}
.statement-img{
    padding-top: 14px;
}
.statement-img ul{
    text-align: center;
}
.statement-img ul li{
    display: inline-block;
    font-size: 0;
     margin-right: 10px;
}
/*footer end*/

/*分页 begin*/
.page-box{
    margin: 42px auto;
}
.b-page{
    text-align: center;
}
.page-box ul li{
    display: inline-block;

}
.page-box ul{
    text-align: center;

}
.page-box li a{
    display:inline-block;
    line-height: 34px;
    padding: 0 14px;
    border:1px #ededed solid;
    border-left: none;
    background: #fff;
    color: #666;
    margin-right: -3px;

}
.page-box ul li:first-child a{
    border-left: 1px #ededed solid;
}
.page-box ul li a:hover{
    background: #35aaf2;
    color: #fff;
}
.page-box ul li.active a{
    background: #35aaf2;
    color: #fff;
}
.page-box ul li.disabled span{
    color: #b0b7bc;
    cursor: default;
    display: inline-block;
    line-height: 34px;
    padding: 0 14px;
    border:1px #ededed solid;
    border-left: none;
    background: #fff;
    margin-right: -5px;
}
.page-box ul li.disabled span:first-child{
    border-left: 1px #ededed solid;
}
.page-box li.disabled a:hover{
    color: #b0b7bc;
    background: #fff;
}
/*分页 end*/
/*回到顶端 begin*/
.back-top{
    position: fixed;
    bottom: 400px;
    left: 84%;
    display: none;
}
.backtop {
    width: 47px;
    height: 47px;
    display: block;
    z-index: 99999;
    background:#fff url("../image/icon.png") no-repeat;
    webkit-box-sizing: border-box;
    box-sizing: border-box;
    border:1px #c7c7c7 solid;
}
.backtop{
    background-position: center -608px;
}
.backtop:hover{
    background-color: #3287df;
    background-position: center -652px;
    border-color: #3287df;
}
.backtop:active{
    background-color: #2d7acc;
    border-color: #2d7acc;
}
/*回到顶端 end*/


